{
  "presets": ["latest", "react", "stage-1"],
  "plugins": [["styled-components", { "displayName": true }]],
  "env": {
    "production": {
      "presets": ["minify"],
      "plugins": [["styled-components", { "displayName": false }]]
    }
  }
}
